/* -----------CARACTERISTICAS GENERALES----------- */
/* TIPO DE FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* NORMALIZADORES */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* COLORES BASE */
:root {
    --color-primary: #e0ece4;
    --color-secondary: #f7f2e7;
    --color-terciary: #797a7e;
}

/* FUENTES */
.container-all {
    font-family: 'Varela Round', sans-serif;
    padding: 0 1rem;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    color: var(--color-terciary);
}

h2 {
    font-size: 2.2rem;
    color: var(--color-terciary);
}

h3 {
    font-size: 1.3rem;
    color: var(--color-terciary);
    font-style: oblique;
}

/* -----------VERSION DESKTOP----------- */

.container-all {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-primary);
}

/* TEXTOS */
.titulos h1 {
    border-bottom: .5rem solid var(--color-secondary);
    border-top: .5rem solid var(--color-secondary);
}

.titulos h2 {
    margin-bottom: 0.2rem;
}

.titulos h3 {
    margin-top: 0;
}

/* FORMULARIO */
.formulario {
    width: 100%;
    height: auto;
    margin: 2rem auto;
}

    .formulario form {
        width: auto;
        height: auto;
        margin: auto;
    }

    .formulario form select,input {
        width: 20%;
        min-width: 7.5rem;
        max-width: 9rem;
        height: 3rem;
        border-radius: .5rem;
        outline: none;
        border: 0;
        box-shadow: .2rem .2rem .2rem rgba(128, 128, 128, 0.151);
        background-color: var(--color-secondary);
        color: var(--color-terciary);
        font-family: 'Varela Round', sans-serif;
        padding: .8rem;
        box-sizing: border-box;
    }

    .formulario form select:focus,input:focus {
        box-shadow: .2rem .2rem .2rem rgba(128, 128, 128, 0.411);
    }

        /* eliminar flechas input number */
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
            margin: 0; 
        } 

    .formulario button {
        margin-top: 1.5rem;
        width: 12rem;
        height: 2.5rem;
        border-radius: .5rem;
        border: 0;
        box-shadow: .2rem .2rem .2rem rgba(128, 128, 128, 0.322);
        background-color: var(--color-terciary);
        color: var(--color-primary);
        font-family: 'Varela Round', sans-serif;
        font-size: 1.2rem;
        outline: none;
    }

    .formulario button:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: .85;
        box-shadow: .2rem .2rem .2rem rgba(128, 128, 128, 0.411);
    }

#contenedor-resultado {
    width: 70vw;
    height: 10rem;
    background-color: var(--color-secondary);
    border-radius: 2rem;
    box-shadow: .2rem .2rem .2rem rgba(128, 128, 128, 0.151);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding: .4rem;
}

/* -----------VERSION MOBILE----------- */

@media (max-width: 420px) {
    
    /* FUENTES */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: .9rem;
    }

    /* TEXTOS */
    .titulos h3 {
        margin-top: 1rem;
    }

    /* FORMULARIO */
    .formulario {
        margin: 1rem auto;
    }

        .formulario form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .formulario form select,input {
            margin: .2rem auto;
        }

    #contenedor-resultado {
        width: 90vw;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: .2rem;
    }


}


